<section class="main-blog">

  <div class="main-blog-list">
    <div class="main-blog-list__left">
      <span class="main-blog__name">Thomas</span>
      <h1 class="main-blog__title">Nodejs Developer
        Roadmap 2022
      </h1>
      <p class="main-blog__desc">Lorem ipsum, dolor sit
        amet consectetur
        adipisicing
        elit. Numquam mollitia optio, amet quia veritatis
        eum. </p>
      <div class="trending-time">
        <span class="date">Aug 27</span>
        <span class="time-read">2min read</span>
      </div>
    </div>
    <div class="main-blog-list__right">
      <img src="src/andrew-neel-cckf4TsHAuw-unsplash.jpg"
        alt="" class="blog-image">
    </div>
  </div>

</section>